Repository Torchlight-SWE2324/ChatSQL, pull requests merged in 2023-12, with the labels that each got.

#4 [TCHL-45] Fixed database folder path
  ChatSQL/code/cliAdmin.py
  ChatSQL/database/movieMonster.json
  ChatSQL/main.py
Labels: bug, enhancement, CLI, RTB

#5 [TCHL-43] Input enhancements
  .vscode/settings.json
  ChatSQL/JSON/anpr.json
  ChatSQL/JSON/data_cross_reference.json
  ChatSQL/JSON/movies.json
  ChatSQL/JSON/watches.json
  ChatSQL/code/cliAdmin.py
  ChatSQL/code/cliMain.py
  ChatSQL/playground/loading.py
Labels: enhancement, CLI, RTB

#6 [TCHL-41, TCHL-46] Improvements over the admin and user logout and minor enhancments
  ChatSQL/code/cliAdmin.py
  ChatSQL/code/cliMain.py
Labels: enhancement, CLI, RTB

#7 [TCHL-42] Added file for Json to txtai embedding conversion
  ChatSQL/code/fromJsonToEmb.py
Labels: enhancement, CLI

#8 [TCHL-50] Code Refactoring and Structure Enhancements
  .gitignore
  .vscode/settings.json
  ChatSQL/code/cliAdmin.py
  ChatSQL/code/cliMain.py
  ChatSQL/code/fileOperations.py
  ChatSQL/code/fromJsonToEmb.py
  ChatSQL/code/loadingUtils.py
  ChatSQL/code/schemaValidator.py
  ChatSQL/code/utils.py
  ChatSQL/database/movieMonster.json
Labels: enhancement, CLI

#9 [TCHL-48, TCHL-51, TCHL-56, TCHL-58] Improvements of admin operation
  ChatSQL/code/cliAdmin.py
  ChatSQL/code/cliMain.py
  ChatSQL/code/fileOperations.py
Labels: enhancement, CLI

#10 [TCHL_52] Added LLM model integration with dynamic embeddings generation
  .gitignore
  ChatSQL/JSON/corso_universitario.json
  ChatSQL/JSON/supermercato.json
  ChatSQL/code/cliAdmin.py
  ChatSQL/code/cliMain.py
  ChatSQL/code/cliUser.py
  ChatSQL/code/embedder.py
  ChatSQL/code/fileOperations.py
  ChatSQL/code/fromJsonToEmb.py
  ChatSQL/code/loadingUtils.py
  ChatSQL/database/watches.json
  ChatSQL/playground/playgroud_2.py
  ChatSQL/playground/zucchetti.py
Labels: enhancement, CLI, RTB
